*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

#sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 325px;
    background-color: #9090f6;
}


.logo img{
    height: 85%;
    width: 85%;
    background-color: magenta;
}


.navigation li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-family: sans-serif;
    transition: 0.4s;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 100%;
    background-color: white;
    

}

.search-bar{
    position: relative;
    top: 20px;
    left: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 600px;
    background-color: none;
    border: none;
    
    border-radius: 10px;
    
}

#search{

    
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border:none;
    background-color: #9090f6;
}

.cards{
    position: relative;
    top: 45px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.card img{
    height: 60%;
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.card{
    border-radius: 20px;
    background-color: none;
    height: 300px;
}

.card-body{
    font-size: 5px;
    height: 200px;
    background-color: #9090f6;
    border-radius: 0 0 20px 20px;
}

::placeholder{
    padding-left: 20px;
    color: white;
}

.card:hover{
    transform: scale(1.007);
    cursor: pointer;
    box-shadow: #7676f2 0px 7px 29px 0px;
}


.navigation li:hover{
    background-color: #9090f6;
    box-shadow: 0px 0px 20px 1px rgb(17, 15, 15) inset;
   

}



